.topics {
    background: var(--blue-gradient);
    color: var(--white);
    padding: 1.5em 0;
}

.topics__title {
    font-weight: 300;
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em 0.5em;
}

.topics__link {
    color: var(--white);
    background-color: var(--orange);
    text-decoration: none;
    padding: 1em;
    font-weight: 700;
    font-size: 14px;
}

